// Colors
@purple: #9992C7;
@purple_dark: #7874B4;
@white: #FFFFFF;
@grey: #E8E8E8;
@grey: #F3F3F3;
@grey_shadow: #B8B8B8;
@black: #1D1D1B;

@error: #E64639;
@warning: #E0A639;
@success: #43C95C;
@info: #1C9DC9;

// Fonts
@quicksand: "Quicksand";

// Texts
@text_normal: @quicksand, sans-serif;
@text_headers: @text_normal;

//Sizes
@size_ultra: 64px;
@size_huge: 48px;
@size_super: 32px;
@size_biggest: 28px;
@size_bigger: 24px;
@size_big: 20px;
@size_large: 18px;
@size_normal: 16px;
@size_small: 14px;
@size_smaller: 12px;

@border_radius: 10px;

@import "https://fonts.googleapis.com/css?family=Quicksand:500,700&display=swap";


// Larger than mobile
@media (min-width: 400px) {
}

// Larger than phablet
@media (min-width: 550px) {
}

// Larger than desktop
@media (min-width: 1000px) {
    max-width: 300px;
}

// Larger than Desktop HD
@media (min-width: 1200px) {
    max-width: 400px;
}

* {
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

body {
    font-family: @text_normal;
    font-size: @size_normal;
    font-weight: normal;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @text_headers;
    font-weight: bold;
    width: 100%;
    margin: 0;

    &.alt {
        color: @grey_shadow;
    }
}

h1, .h1 {
    font-size: @size_super;
    line-height: @size_super;
}

h2, .h2 {
    font-size: @size_bigger;
    line-height: @size_bigger;
}

h3, .h3 {
    font-size: @size_big;
    line-height: @size_big;
}

h4, .h4 {
    font-size: @size_normal;
    line-height: @size_normal;
}

h5, .h5 {
    font-size: @size_small;
    line-height: @size_small;
}

h6, .h6 {
    font-size: @size_smaller;
    line-height: @size_smaller;
}

img {
    width: 100%;
}

p {
    margin: 10px 0 0;
}

a {
    font-family: @text_headers;
    font-weight: bold;
    text-decoration: none;
}

// Mixin for creating classes for colors
.set_color(@name, @color, @background) {
    .text-@{name} {
        color: @color !important;
    }
}

.set_color(@name, @color) {
    .set_color(@name, @color, @color);
}

// Creating a class for social media classes
.set_color(facebook, #1876F2);
.set_color(instagram, #C32AA3);
.set_color(linkedin, #0E76A8);
.set_color(pinterest, #C8232C);
.set_color(twitter, #00ACEE);

// Creating classes for normal colors
.set_color(white, @white);
.set_color(black, @black);
.set_color(grey, @grey_shadow, @grey);
.set_color(default, @grey);
.set_color(primary, @purple);
.set_color(error, @error);
.set_color(warning, @warning);
.set_color(success, @success);
.set_color(info, @info);


// Mixin for creating padding and margin classes in CSS
.spacing(@type, @prefix, @distance) {
    .@{prefix}-@{distance} {
            @{type}: @distance*1px;
    }
    .@{prefix}t-@{distance} {
            @{type}-top: @distance*1px;
    }
    .@{prefix}b-@{distance} {
            @{type}-bottom: @distance*1px;
    }
    .@{prefix}l-@{distance} {
            @{type}-left: @distance*1px;
    }
    .@{prefix}r-@{distance} {
            @{type}-right: @distance*1px;
    }
    .@{prefix}x-@{distance} {
            @{type}-left: @distance*1px;
            @{type}-right: @distance*1px;
    }
    .@{prefix}y-@{distance} {
            @{type}-top: @distance*1px;
            @{type}-bottom: @distance*1px;
    }
}

// Loop that starts at 100 and counts down to zero per 10
.loop(@counter) when (@counter > 0) {
    .spacing(padding, p, @counter);
    .spacing(margin, m, @counter);
    .loop((@counter - 10)); // next iteration
}

// Init loop
.loop(100);

.h-100 {
    height: 100%;
}

.spacing(padding, p, 5);
.spacing(margin, m, 5);

.spacing(padding, p, 0);
.spacing(margin, m, 0);

.item(@name, @type) {
    .@{name}-@{type} {
            @{name}: @type !important;
    }
}

.item(@prefix, @name, @type) {
    .@{prefix}-@{type} {
            @{name}: @type !important;
    }
}

// Display
.item(d, display, block);
.item(d, display, none);
.item(d, display, flex);

.item(flex, flex-wrap, wrap);
.item(flex, flex-wrap, nowrap);

.item(justify-content, center);
.item(justify-content, left);
.item(justify-content, right);
.item(justify-content, flex-start);
.item(justify-content, flex-end);
.item(justify-content, space-between);

.item(align-items, center);
.item(align-items, left);
.item(align-items, right);
.item(align-items, start);
.item(align-items, end);

.item(flex-direction, row);
.item(flex-direction, column);
.item(flex-direction, row-reverse);
.item(flex-direction, column-reverse);

.item(text, text-align, center);
.item(text, text-align, left);
.item(text, text-align, right);

.size(@suffix, @size) {
    .text-@{suffix} {
        font-size: @size !important;
    }
}

.size(ultra, @size_ultra);
.size(huge, 42px);
.size(super, @size_super);
.size(bigger, @size_bigger);
.size(big, @size_big);
.size(normal, @size_normal);
.size(small, @size_small);

.container {
    width: 100%;
    margin: 0 auto;
    // Larger than mobile
    @media (min-width: 400px) {
        max-width: 360px;
    }

    // Larger than phablet
    @media (min-width: 550px) {
        max-width: 510px;
    }

    // Larger than tablet
    @media (min-width: 750px) {
        max-width: 710px;
    }

    // Larger than desktop
    @media (min-width: 1000px) {
        max-width: 960px;
    }

    // Larger than Desktop HD
    @media (min-width: 1200px) {
        max-width: 1160px;
    }

    &.small {

        // Larger than phablet
        @media (min-width: 550px) {
            max-width: 350px;
        }

        // Larger than tablet
        @media (min-width: 750px) {
            max-width: 550px;
        }

        // Larger than desktop
        @media (min-width: 1000px) {
            max-width: 800px;
        }

        // Larger than Desktop HD
        @media (min-width: 1200px) {
            max-width: 1000px;
        }
    }
}

.wrapper {
    padding: 50px 0;
}

.rounded {
    border-radius: @border_radius;
}

.box {
    background-color: @white;
    width: 100%;
    min-width: 250px;
    border-radius: @border_radius;
    position: relative;

    &.small {
        max-width: 500px;
        min-width: auto;
    }
}

.header {
    width: 100%;

    & .alt {
        padding-top: 5px;
    }
}

// Buttons
.button(@name, @text_color, @background_color, @text_color_hover, @background_color_hover) {
    &.@{name} {
        background-color: @background_color;
        color: @text_color;
    }
    &.@{name}.link {
        color: @background_color;

        &:hover {
            color: @background_color;
        }
    }
    &.@{name}:hover {
        cursor: pointer;
    }
}

.button(@name, @background_color, @background_color_hover) {
    .button(@name, @white, @background_color, @white, @background_color_hover);
}

.button(@name, @background_color) {
    .button(@name, @white, @background_color, @white, darken(@background_color, 30%));
}

.button {
    background-color: @black;
    color: @white;
    font-family: @text_headers;
    font-size: @size_large;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    border: 0;
    border-radius: @border_radius;
    transition: 0.5s;
    display: inline-block;

    .button(primary, @purple, @purple_dark);
    .button(error, @error);
    .button(warning, @warning);
    .button(success, @success);
    .button(info, @info);
    .button(default, @black, @grey, @black, @grey);
    .button(error-alt, @error, @grey, @error, @grey);


    &.link,
    &.link:hover {
        background-color: transparent;
        color: @black;
        box-shadow: none;
        padding: 0;
    }

    &.icon-only {
        width: 40px;
        padding: 0;
    }

    & i.icon {
        width: auto;
        margin-right: 10px;
    }

}

.buttons {
    position: relative;
    z-index: 10;

    & .button {
        margin: 0 5px;

        &:first-child { margin-left: 0; }

        &:last-child { margin-right: 0; }
    }

    &.big .button {
        width: 100%;
    }
}

.input(@name, @color) {
    &.@{name} {
        border-color: @color;

        & + label.helper {
            color: @color;
        }

        &[disabled] {
            color: lighten(@color, 15%);
            border-color: lighten(@color, 15%);

            &::-webkit-input-placeholder,
            &:-ms-input-placeholder,
            &::placeholder {
                opacity: 1;
                color: lighten(@color, 15%);
            }

            & + label.helper {
                color: lighten(@color, 15%);
            }
        }
    }
}

.input {
    background-color: @white;
    color: @black;
    font-family: @text_headers;
    font-size: @size_normal;
    font-weight: bold;
    padding: 0;
    width: 100%;
    line-height: 25px;
    border: 0;
    border-bottom: 2px solid @grey_shadow;
    border-radius: 0;
    transition: 0.5s;

    & + label.helper {
        color: @grey_shadow;
        font-size: @size_small;
    }

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
        color: lighten(@grey, 10%);
    }

    &:focus {
        border-color: @purple;
    }

    .input(default, @grey_shadow);
    .input(primary, @purple);
    .input(error, @error);
    .input(warning, @warning);
    .input(success, @success);
    .input(info, @info);
}

.menu-bar {
    background-color: @white;
    width: 240px;
    height: 100vh;
    line-height: 40px;
    position: fixed;
    top: 0;
    left: 0;

    & .bar {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .navigation {
            & ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-direction: column;

                & li {

                    & a {
                        color: @black;

                        & i {
                            color: @purple;
                        }

                        & span {

                        }
                    }
                }
            }
        }
    }

    & + .full-page {
        padding-left: 240px;
    }
}

i.icon {
    width: 40px;
    text-align: center;
}

img.logo {
    width: auto;
    height: 40px;
    margin: 20px 0;
}

/* Views
**************************************************************/
.full-page {
    background-color: @grey;
    width: 100%;
    height: 100vh;
}

.avatar {
    width: 100%;
    position: absolute;
    margin-top: -90px;

    & .image {
        width: 180px;
        height: 180px;
        object-fit: cover;

    }
}

#login-view,
#account-view,
#logout-view {

    & .logo {
        max-width: 500px;
    }
}


#account-view {

}

& .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: inherit;
    height: inherit;

    & .part {
        width: 50%;
        height: inherit;
    }
}

& .form-box {
    max-width: 500px;
}

#dashboard-view {
    min-height: 100vh;

    .status-box {
        width: 25%;
    }

    .status-box,
    .api-box {
        & i.icon {
            font-size: @size_super;
            width: @size_super;
        }
    }

    & .boxes {

        & > div {
            width: 25%;
        }
    }
}

.api-row {
    height: 60px;
    line-height: 60px;

    & .cell {

        & h2, h3, h4 {
            line-height: inherit;
        }

        & .data {
            min-width: 150px;
        }

        & i.icon {
            font-size: @size_bigger;
            width: 60px;
            line-height: 60px;
        }
    }
}