@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v19/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58a-xw.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v19/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58a-xw.ttf) format('truetype');
}
@media (min-width: 1000px) {
  max-width: 300px;
}
@media (min-width: 1200px) {
  max-width: 400px;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  width: 100%;
  margin: 0;
}
h1.alt,
h2.alt,
h3.alt,
h4.alt,
h5.alt,
h6.alt,
.h1.alt,
.h2.alt,
.h3.alt,
.h4.alt,
.h5.alt,
.h6.alt {
  color: #B8B8B8;
}
h1,
.h1 {
  font-size: 32px;
  line-height: 32px;
}
h2,
.h2 {
  font-size: 24px;
  line-height: 24px;
}
h3,
.h3 {
  font-size: 20px;
  line-height: 20px;
}
h4,
.h4 {
  font-size: 16px;
  line-height: 16px;
}
h5,
.h5 {
  font-size: 14px;
  line-height: 14px;
}
h6,
.h6 {
  font-size: 12px;
  line-height: 12px;
}
img {
  width: 100%;
}
p {
  margin: 10px 0 0;
}
a {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.text-facebook {
  color: #1876F2 !important;
}
.text-instagram {
  color: #C32AA3 !important;
}
.text-linkedin {
  color: #0E76A8 !important;
}
.text-pinterest {
  color: #C8232C !important;
}
.text-twitter {
  color: #00ACEE !important;
}
.text-white {
  color: #FFFFFF !important;
}
.text-black {
  color: #1D1D1B !important;
}
.text-grey {
  color: #B8B8B8 !important;
}
.text-default {
  color: #F3F3F3 !important;
}
.text-primary {
  color: #9992C7 !important;
}
.text-error {
  color: #E64639 !important;
}
.text-warning {
  color: #E0A639 !important;
}
.text-success {
  color: #43C95C !important;
}
.text-info {
  color: #1C9DC9 !important;
}
.p-100 {
  padding: 100px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pl-100 {
  padding-left: 100px;
}
.pr-100 {
  padding-right: 100px;
}
.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.m-100 {
  margin: 100px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}
.ml-100 {
  margin-left: 100px;
}
.mr-100 {
  margin-right: 100px;
}
.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.p-90 {
  padding: 90px;
}
.pt-90 {
  padding-top: 90px;
}
.pb-90 {
  padding-bottom: 90px;
}
.pl-90 {
  padding-left: 90px;
}
.pr-90 {
  padding-right: 90px;
}
.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}
.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.m-90 {
  margin: 90px;
}
.mt-90 {
  margin-top: 90px;
}
.mb-90 {
  margin-bottom: 90px;
}
.ml-90 {
  margin-left: 90px;
}
.mr-90 {
  margin-right: 90px;
}
.mx-90 {
  margin-left: 90px;
  margin-right: 90px;
}
.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.p-80 {
  padding: 80px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pl-80 {
  padding-left: 80px;
}
.pr-80 {
  padding-right: 80px;
}
.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.m-80 {
  margin: 80px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-80 {
  margin-bottom: 80px;
}
.ml-80 {
  margin-left: 80px;
}
.mr-80 {
  margin-right: 80px;
}
.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.p-70 {
  padding: 70px;
}
.pt-70 {
  padding-top: 70px;
}
.pb-70 {
  padding-bottom: 70px;
}
.pl-70 {
  padding-left: 70px;
}
.pr-70 {
  padding-right: 70px;
}
.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}
.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.m-70 {
  margin: 70px;
}
.mt-70 {
  margin-top: 70px;
}
.mb-70 {
  margin-bottom: 70px;
}
.ml-70 {
  margin-left: 70px;
}
.mr-70 {
  margin-right: 70px;
}
.mx-70 {
  margin-left: 70px;
  margin-right: 70px;
}
.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.p-60 {
  padding: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pl-60 {
  padding-left: 60px;
}
.pr-60 {
  padding-right: 60px;
}
.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}
.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.m-60 {
  margin: 60px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ml-60 {
  margin-left: 60px;
}
.mr-60 {
  margin-right: 60px;
}
.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}
.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.p-50 {
  padding: 50px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-50 {
  padding-left: 50px;
}
.pr-50 {
  padding-right: 50px;
}
.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.m-50 {
  margin: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}
.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.p-40 {
  padding: 40px;
}
.pt-40 {
  padding-top: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-40 {
  padding-left: 40px;
}
.pr-40 {
  padding-right: 40px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.m-40 {
  margin: 40px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.p-30 {
  padding: 30px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pr-30 {
  padding-right: 30px;
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.m-30 {
  margin: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.h-100 {
  height: 100%;
}
.p-5 {
  padding: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.m-5 {
  margin: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.p-0 {
  padding: 0px;
}
.pt-0 {
  padding-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.m-0 {
  margin: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-0 {
  margin-bottom: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.d-flex {
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-left {
  justify-content: left !important;
}
.justify-content-right {
  justify-content: right !important;
}
.justify-content-flex-start {
  justify-content: flex-start !important;
}
.justify-content-flex-end {
  justify-content: flex-end !important;
}
.justify-content-space-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-left {
  align-items: left !important;
}
.align-items-right {
  align-items: right !important;
}
.align-items-start {
  align-items: start !important;
}
.align-items-end {
  align-items: end !important;
}
.flex-direction-row {
  flex-direction: row !important;
}
.flex-direction-column {
  flex-direction: column !important;
}
.flex-direction-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-direction-column-reverse {
  flex-direction: column-reverse !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-ultra {
  font-size: 64px !important;
}
.text-huge {
  font-size: 42px !important;
}
.text-super {
  font-size: 32px !important;
}
.text-bigger {
  font-size: 24px !important;
}
.text-big {
  font-size: 20px !important;
}
.text-normal {
  font-size: 16px !important;
}
.text-small {
  font-size: 14px !important;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 400px) {
  .container {
    max-width: 360px;
  }
}
@media (min-width: 550px) {
  .container {
    max-width: 510px;
  }
}
@media (min-width: 750px) {
  .container {
    max-width: 710px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
@media (min-width: 550px) {
  .container.small {
    max-width: 350px;
  }
}
@media (min-width: 750px) {
  .container.small {
    max-width: 550px;
  }
}
@media (min-width: 1000px) {
  .container.small {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .container.small {
    max-width: 1000px;
  }
}
.wrapper {
  padding: 50px 0;
}
.rounded {
  border-radius: 10px;
}
.box {
  background-color: #FFFFFF;
  width: 100%;
  min-width: 250px;
  border-radius: 10px;
  position: relative;
}
.box.small {
  max-width: 500px;
  min-width: auto;
}
.header {
  width: 100%;
}
.header .alt {
  padding-top: 5px;
}
.button {
  background-color: #1D1D1B;
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  padding: 0 20px;
  border: 0;
  border-radius: 10px;
  transition: 0.5s;
  display: inline-block;
}
.button.primary {
  background-color: #9992C7;
  color: #FFFFFF;
}
.button.primary.link {
  color: #9992C7;
}
.button.primary.link:hover {
  color: #9992C7;
}
.button.primary:hover {
  cursor: pointer;
}
.button.error {
  background-color: #E64639;
  color: #FFFFFF;
}
.button.error.link {
  color: #E64639;
}
.button.error.link:hover {
  color: #E64639;
}
.button.error:hover {
  cursor: pointer;
}
.button.warning {
  background-color: #E0A639;
  color: #FFFFFF;
}
.button.warning.link {
  color: #E0A639;
}
.button.warning.link:hover {
  color: #E0A639;
}
.button.warning:hover {
  cursor: pointer;
}
.button.success {
  background-color: #43C95C;
  color: #FFFFFF;
}
.button.success.link {
  color: #43C95C;
}
.button.success.link:hover {
  color: #43C95C;
}
.button.success:hover {
  cursor: pointer;
}
.button.info {
  background-color: #1C9DC9;
  color: #FFFFFF;
}
.button.info.link {
  color: #1C9DC9;
}
.button.info.link:hover {
  color: #1C9DC9;
}
.button.info:hover {
  cursor: pointer;
}
.button.default {
  background-color: #F3F3F3;
  color: #1D1D1B;
}
.button.default.link {
  color: #F3F3F3;
}
.button.default.link:hover {
  color: #F3F3F3;
}
.button.default:hover {
  cursor: pointer;
}
.button.error-alt {
  background-color: #F3F3F3;
  color: #E64639;
}
.button.error-alt.link {
  color: #F3F3F3;
}
.button.error-alt.link:hover {
  color: #F3F3F3;
}
.button.error-alt:hover {
  cursor: pointer;
}
.button.link,
.button.link:hover {
  background-color: transparent;
  color: #1D1D1B;
  box-shadow: none;
  padding: 0;
}
.button.icon-only {
  width: 40px;
  padding: 0;
}
.button i.icon {
  width: auto;
  margin-right: 10px;
}
.buttons {
  position: relative;
  z-index: 10;
}
.buttons .button {
  margin: 0 5px;
}
.buttons .button:first-child {
  margin-left: 0;
}
.buttons .button:last-child {
  margin-right: 0;
}
.buttons.big .button {
  width: 100%;
}
.input {
  background-color: #FFFFFF;
  color: #1D1D1B;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  width: 100%;
  line-height: 25px;
  border: 0;
  border-bottom: 2px solid #B8B8B8;
  border-radius: 0;
  transition: 0.5s;
}
.input + label.helper {
  color: #B8B8B8;
  font-size: 14px;
}
.input::-webkit-input-placeholder,
.input:-ms-input-placeholder,
.input::placeholder {
  color: #ffffff;
}
.input:focus {
  border-color: #9992C7;
}
.input.default {
  border-color: #B8B8B8;
}
.input.default + label.helper {
  color: #B8B8B8;
}
.input.default[disabled] {
  color: #dedede;
  border-color: #dedede;
}
.input.default[disabled]::-webkit-input-placeholder,
.input.default[disabled]:-ms-input-placeholder,
.input.default[disabled]::placeholder {
  opacity: 1;
  color: #dedede;
}
.input.default[disabled] + label.helper {
  color: #dedede;
}
.input.primary {
  border-color: #9992C7;
}
.input.primary + label.helper {
  color: #9992C7;
}
.input.primary[disabled] {
  color: #c8c5e1;
  border-color: #c8c5e1;
}
.input.primary[disabled]::-webkit-input-placeholder,
.input.primary[disabled]:-ms-input-placeholder,
.input.primary[disabled]::placeholder {
  opacity: 1;
  color: #c8c5e1;
}
.input.primary[disabled] + label.helper {
  color: #c8c5e1;
}
.input.error {
  border-color: #E64639;
}
.input.error + label.helper {
  color: #E64639;
}
.input.error[disabled] {
  color: #ef857d;
  border-color: #ef857d;
}
.input.error[disabled]::-webkit-input-placeholder,
.input.error[disabled]:-ms-input-placeholder,
.input.error[disabled]::placeholder {
  opacity: 1;
  color: #ef857d;
}
.input.error[disabled] + label.helper {
  color: #ef857d;
}
.input.warning {
  border-color: #E0A639;
}
.input.warning + label.helper {
  color: #E0A639;
}
.input.warning[disabled] {
  color: #eac47b;
  border-color: #eac47b;
}
.input.warning[disabled]::-webkit-input-placeholder,
.input.warning[disabled]:-ms-input-placeholder,
.input.warning[disabled]::placeholder {
  opacity: 1;
  color: #eac47b;
}
.input.warning[disabled] + label.helper {
  color: #eac47b;
}
.input.success {
  border-color: #43C95C;
}
.input.success + label.helper {
  color: #43C95C;
}
.input.success[disabled] {
  color: #7eda90;
  border-color: #7eda90;
}
.input.success[disabled]::-webkit-input-placeholder,
.input.success[disabled]:-ms-input-placeholder,
.input.success[disabled]::placeholder {
  opacity: 1;
  color: #7eda90;
}
.input.success[disabled] + label.helper {
  color: #7eda90;
}
.input.info {
  border-color: #1C9DC9;
}
.input.info + label.helper {
  color: #1C9DC9;
}
.input.info[disabled] {
  color: #4cbfe6;
  border-color: #4cbfe6;
}
.input.info[disabled]::-webkit-input-placeholder,
.input.info[disabled]:-ms-input-placeholder,
.input.info[disabled]::placeholder {
  opacity: 1;
  color: #4cbfe6;
}
.input.info[disabled] + label.helper {
  color: #4cbfe6;
}
.menu-bar {
  background-color: #FFFFFF;
  width: 240px;
  height: 100vh;
  line-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
}
.menu-bar .bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-bar .bar .navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.menu-bar .bar .navigation ul li a {
  color: #1D1D1B;
}
.menu-bar .bar .navigation ul li a i {
  color: #9992C7;
}
.menu-bar + .full-page {
  padding-left: 240px;
}
i.icon {
  width: 40px;
  text-align: center;
}
img.logo {
  width: auto;
  height: 40px;
  margin: 20px 0;
}
/* Views
**************************************************************/
.full-page {
  background-color: #F3F3F3;
  width: 100%;
  height: 100vh;
}
.avatar {
  width: 100%;
  position: absolute;
  margin-top: -90px;
}
.avatar .image {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
#login-view .logo,
#account-view .logo,
#logout-view .logo {
  max-width: 500px;
}
.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: inherit;
  height: inherit;
}
.background .part {
  width: 50%;
  height: inherit;
}
.form-box {
  max-width: 500px;
}
#dashboard-view {
  min-height: 100vh;
}
#dashboard-view .status-box {
  width: 25%;
}
#dashboard-view .status-box i.icon,
#dashboard-view .api-box i.icon {
  font-size: 32px;
  width: 32px;
}
#dashboard-view .boxes > div {
  width: 25%;
}
.api-row {
  height: 60px;
  line-height: 60px;
}
.api-row .cell h2,
.api-row .cell h3,
.api-row .cell h4 {
  line-height: inherit;
}
.api-row .cell .data {
  min-width: 150px;
}
.api-row .cell i.icon {
  font-size: 24px;
  width: 60px;
  line-height: 60px;
}
